.appWrapper {
    width: 100%;
    min-height: auto;
    background-image: url('/images/global-bg.png');
    background-position: top left;
    background-size: cover;
    background-repeat: repeat;
    background-blend-mode: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (min-width: 1280px) {
    .contentContainer {
        width: 1280px;
        align-items: flex-end;
    }
}

@media (max-width: 768px) {
  .appWrapper {
    min-height: auto;
    background-size: cover;
  }
  .contentContainer {
    align-items: flex-start;
    width: 100%;
    padding: 0 1rem;
  }
}

